* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2e41;
  color: #ffffff;
  font-family: 'JetBrains Mono', monospace;
}

/* container -------------------------------------*/
.container {
  width: 1083px;
  margin: 71px auto 0;
}

/* nav       -------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 102px;
  font-weight: 500;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* main      -------------------------------------*/
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

section {
  width: 600px;
}

h1 {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 36px;
  line-height: 59px;
}

span {
  color: #00bfa6;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #c2c2c2;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 30px;
}

/* footer    -------------------------------------*/

footer {
  border-top: 1px solid #00bfa6;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  margin: 230px auto 23px;
  width: 568px;
  padding-top: 23px;
}

#lock {
  position: fixed;
  margin: 20px;
  left: 0;
  bottom: 0;
}
